.details-outer-div {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}
.details-left-div {
  width: 80%;
  float: left;
  padding:10px;
  /* border:1px solid red; */
}
.details-right-div {
  width: 20%;
  float: left;
  padding:10px;
  /* background-color: red; */
  /* border:1px solid red; */
}
.details-left-inner-div {
  border: 1px solid rgb(212, 212, 212);
  padding: 30px;

}
.details-right-paper-statistics {
  /* border: 1px solid rgb(212, 212, 212); */
  /* height: 100px; */
  padding: 20px;
  background-color: #f2f2f2;

}
.details-left-div .reference-info{
text-decoration: underline ;
}
.details-page-date-description{
  margin-top: 15px;
  margin-bottom: 15px;
}
.details-author .author{
  font-size: 18px;
  /* margin: 100px; */
}
.details-author{
  /* font-size: 18px; */
  margin-top: 15px;
}
.details-author p{
  font-size: 13px;
}
.details-date-written{

}
.details-left-inner-div h2{
text-decoration: underline;
margin-top: 20px;
}
.details-abstract{
}
.details-references{
  /* margin-top: 30px; */
  padding: 30px;
}
.details-references h1{
  font-size: 18px;
  text-decoration: underline;

}
.paper-details-citation-icon{
  margin-right: 5px;
  font-size: 20px;
  color: #dd913f;
  /* fill: none;
  stroke: #dd913f;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
  width: 20px;
  margin-right: 5px;
  margin-top: 5px; */

}
.details-right-paper-statistics h2{
  margin-bottom: 20px;

}
.details-right-paper-statistics{
  /* margin: auto; */
  text-align: center;

}
.paper-details-citation-count{
font-size: 18px;
position: relative;
font-weight: 500  ;
top:-2px;
color:#dd913f ;
}
.details-open-pdf{
  border: 1px solid rgb(212, 212, 212);

  /* background-color: #f2f2f2; */
  margin-top: 20px;
  /* padding:10px; */
  font-size: 16px;
  text-align: center;
  padding: 10px;
  line-height: 30px;
  /* width: 80%; */
  /* margin: auto; */
}
.details-open-pdf i{
  font-size: 20px;
}
.details-open-pdf svg{
  margin-right: 10px;
}
.details-open-pdf-text{
color: rgb(124, 124, 124);
}