.footer{
    /* position: absolute; */
    /* bottom: 0; */
    line-height: 60px;
    /* background-color: red; */
    background-color: white;
    width: 100vw;
    border-top: 1px solid rgb(235, 235, 235);
    
}
.footer-content{
    text-align: center;

}