.forgot-password-form{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-radius: 10px;
  
    margin: 100px auto 0px;
    padding: 50px;
    /* padding-bottom: 50px; */
    padding-top: 60px;
    text-align: center;
    width: 30%;
}