.home-center-element{
    /* background-color: rgb(240, 240, 240); */
    /* position: absolute; */
    top: 0;
    height: calc(100vh - 61px);
    padding: 20px;
    width: 100%;
    z-index: -1;    
    background-color: rgb(255, 255, 255);
    /* background-color: rgb(248, 248, 248); */
    /* background-color: red; */
    background-image: url(../assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    /* opacity: 0.5; */
    /* background-position: top 100px ; */


}
.center-container{
    /* padding-top: 60px; */
    width: 80%;
    margin: auto;
    /* align-items: center; */
    /* background-color: red; */
    text-align: center;
}
.center-container h1{
    text-align: center;
    padding-top: 23vh;
    font-size: 50px;
    font-weight: 300;
    margin: 0;
}
.center-container h2{
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    font-weight: 300;
    /* margin: 0; */
}
.center-container .search-bar{
    width: 60%;
    min-width: 250px;
    margin: 40px auto 20px;

}
.center-container .search-bar input{
    background-color: white;
    padding-left: 50px;
    border-radius: 10px;
/* height: 50px; */
/* padding:20px; */
}
.center-container .search-bar input:hover{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}
.center-container .search-bar svg{
    padding-left: 7px;

    position: relative;
    top:-2px;
/* height: 50px; */
/* padding:20px; */
}
/* .center-container .search-bar button{
  background-color: white;
  color:black;
  box-shadow: none;
  border-color: rgb(217, 217, 217);
  border-width: 1px 1px 1px 0px;

} */
.home-footer{
    /* position: absolute; */
    /* bottom: 0; */
}




@media only screen and (max-width:500px) {
    .center-container h1{
        padding-top: 18vh;
        /* line-height: 50px; */
        font-size: 40px;
    }
    .center-container{
        /* padding-top: 60px; */
        width: 100%;
    }
  }
  