.papers-outer-div{
    /* background-color: red; */
    width: 75%;
    margin: auto;
     margin-top: 40px;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    /* padding: 20px; */
    padding-top: 40px;
    padding-bottom: 40px;

    margin-bottom: 40px;

}
#contact-button{
    margin-left: 700px;
}
.profile-menu{
    width: 90%;
    margin: auto;
    padding-left: 15%;
}
.profile-menu-item{
    padding-left: 10%;
    padding-right: 10%;
}
.profile-main-outer-div{
    /* background-color: red; */
    width: 75%;
    margin: auto;

    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    /* padding: 20px; */
    padding-top: 40px;
    padding-bottom: 40px;

    margin-bottom: 40px;

}
.papers-inner-div{
    /* background-color: red; */
    width: 90%;
    margin: auto;

}
.papers-outer-div a{
    color :#237aaa;
}
.papers-outer-div a:hover{
    text-decoration :underline;
}

@media only screen and (max-width: 800px) {
    .papers-outer-div{
        width: 90%;    
        padding-top: 20px;

    }
  }
