.paper-exist-outer-div{
    /* background-color: red; */
}
.paper-exist-button {
text-align: center;
margin-top: 30px;
    
}
.paper-exist-button button{
width: 150px;
    
}
.paper-exist-button-no{
    margin-right: 30px;
}
.paper-exist-button-yes{
    margin-left: 30px;    
}