.profile-left{
width: 20%;
float: left;
}
.profile-right{
    width: 80%;
/* background-color: rgb(207, 207, 207); */
height: 100vh;
float: left;
}
.profile-outer-div{

    /* padding: 30px; */
    width: 70%;
    margin: 30px auto 10px;
    /* padding-bottom: 150px; */
}
