.registration-container {
    width: 45%;
    margin: 0px auto 40px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-radius: 10px;
    padding: 50px;
    padding-top: 30px;
    /* text-align: center !important; */
    /* border:1px solid red; */
    /* text-align: center; */
    min-width: 400px;
    max-width: 550px;
    padding-bottom: 0px;
}

.registration-container .ant-form-item-label {

    text-align: left;
}

.registration-title {
    margin-bottom: 20px;
    text-align: center;
}

.registration-register-button {
    text-align: center;
}

.registration-button {
    height: 2.8em;
}

.anticon {
    margin-left: 3px;
}
.ReactTags__tag {
    background-color: rgba(243, 243, 243, 0.473);
    margin-right: 10px;
    padding: 5px;
    border:1px solid rgb(219, 219, 219);
    border-radius: 4px;
}
.ReactTags__tag a{
    color: rgb(134, 134, 134);
    padding-left: 5px;
   
}
.ReactTags__tagInput{
    margin-top:15px;
    margin-bottom: 20px;
}
.ReactTags__tagInputField{
    background-color: rgb(255, 255, 255);
    border:1px solid rgb(206, 206, 206);
    padding: 5px;
    border-radius: 4px;
    width: 100%;

}
  

@media screen and (max-width: 800px) {
    .registration-container {
        min-width: 200px;
        width: 90%;
    }
}