.steps-content{
    margin-top: 40px;
}
.step-outer-container{
    /* background-color: red; */
    border: 1px solid rgb(207, 207, 207);
    padding: 50px;
    margin: 30px auto 50px;
    width: 70%;
    border-radius: 10px;
}
.steps-action-button-button{
    text-align: center;
}